.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    z-index: -1; /* Places the image behind the content */
}

.nav-item{
    color : black;
}